<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Usuarios</title>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="/">Inicio</a></li>
				<li><a href="/peliculasPuntuadas">Peliculas mejor puntuadas</a></li>
				<li><a href="/formpeliculas">Peliculas por ano</a></li>
				<li><a href="/usuarios">Usuarios por ocupación</a></li>
				<li><a href="/formPeliculasUsuario">Peliculas puntuadas por
						id</a></li>

			</ul>
		</nav>
	</header>
	<section>
		<h1>Usuarios</h1>
		<ul>
			{% for c in cps %}
			<ul>
				<b>Ocupación: {{ c.nombre }}</b>
			</ul>
			{% for u in usuarios %} {% if u.ocupacion == c %}
			<b><h5>Usuario: {{u.id}}</h5></b>
			<li>Edad: {{u.edad}}</li>
			<li>Codigo postal: {{u.codigoPostal}}</li>
			<br /> {% endif %} {% endfor %} {% endfor %}
		</ul>
	</section>
</body>
</html>

