<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Usuarios</title>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="/">Inicio</a></li>
				<li><a href="/peliculas">Peliculas</a></li>
				<li><a href="/usuarios">Usuarios agrupados por código
						postal</a></li>
				<li><a href="/Usuarios">Usuarios</a></li>

			</ul>
		</nav>
	</header>
	<section>
		<h1>Usuarios</h1>
		<ul>
		   {% for c in cps %}
            <ul><b>Código Postal: {{ c }}</b></ul>
                {% for u in usuarios %}
                    {% if u.codigoPostal == c %}
                        <b><h5>Usuario: {{u.id}}</h5></b>
                        <li>Edad: {{u.edad}}</li>
                        <li>Sexo: {{u.sexo}}</li>
                        <br/>
                    {% endif %}
                {% endfor %}
            {% endfor %}
			</ul>
    </section>
</body>
</html>

